<h1>Listing vsets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vsets.each do |vset| %>
      <tr>
        <td><%= vset.name %></td>
        <td><%= link_to 'Show', vset %></td>
        <td><%= link_to 'Edit', edit_vset_path(vset) %></td>
        <td><%= link_to 'Destroy', vset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vset', new_vset_path %>
