<h1>Listing velements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @velements.each do |velement| %>
      <tr>
        <td><%= velement.name %></td>
        <td><%= link_to 'Show', velement %></td>
        <td><%= link_to 'Edit', edit_velement_path(velement) %></td>
        <td><%= link_to 'Destroy', velement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Velement', new_velement_path %>
